// Place all the styles related to the schools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stat_img {
  margin-top: -40px;
  height: 650px;
  background: url(school_img3.jpg)no-repeat center center fixed;
  text-align: center;
  background-size: cover;
  color: white;
}

.state {
  text-align: center;
  color: white;
  padding-top: 300px;
  padding-right: 650px;
}

.h_rule {
  height: 1px;
  background: #222222;
  width: 70%;
}

.news_calendar {
  text-align: left;
  width: 90%;
  padding-left: 200px;
}

.custom_bttn {
  text-align: center;
}

.ceo {
  height: 225px;
  padding-left: 200px;
  text-align: center;
}

.veterinarian_thumb {
  height: 320px;
  width: 300px;
  float: left;
  text-align: left;
}

.veterinarian_opinion {
  text-align: left;
  float: right;
  padding-top: 20px;
}

.ceo1 {
  height: 225px;
  padding-left: 200px;
  text-align: center;
}

.dormitory_info {
  text-align: left;
  float: left;
  padding-top: 20px;
}

.dormitory_thumb {
  height: 320px;
  width: 300px;
  float: right;
  text-align: right;
}

.schook {
  height: 180px;
  padding-left: 70px;
  text-align: center;

  a:hover {
    color: #222222;
  }
}

.divider {
  width: 2px;
  float: left;
  background: #6CB7E3;
  height: 150px;
}

.custom_footr {
  padding-top: 40px;
  text-align: center;
  color: white;
  height: 550px;
  background-color: #333333;

  a {
    color: white;
  }
}
