// Place all the styles related to the teachers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mode{
  box-sizing: border-box;
  border-style: solid;
}
.left{
  background-color: #d2d8e0;
  padding-bottom: 700px;
}
